*{
	box-sizing:border-box;
} /* asterisk means "apply to everything" */


html, body {
	height: 100%;
	/*height 100% means it'll lock the page to the height of screen => cannot scoll*/
	overflow: none;
	padding: 0px;
	margin: 0px;
	font-family: "Roboto";
	background-color: rgb(239, 220, 182);
}

/* the following refers to all the divs in index */
div {
	display: inline-block; /* block means divs will take up all the space to its right. if it's "inline-block" it'll make them only take up space they need, thus, image underneath will go next to it*/
	margin-right: -4px;
	vertical-align: middle;
}

div#top-left {
	width:50%;
	min-height: 60%;
	background-image: url('DSC01871.JPG');
	background-position:center;
	background-size: cover;
	background-repeat: no-repeat;
}

div#top-right {
	width:50%;
	min-height:60%;
	padding: 5% 8%;
	color: rgb(229, 115, 2);
}

div#bottom {
	width: 100%;
	min-height: 40%;
	padding: 3% 20%;
	color: rgb(220, 222, 224);
	background-color: rgb(216, 154, 30);
}

div #bottom-left {
	width:50%;
	vertical-align: top;
}

div#bottom-right {
	width:30%;
	margin-left: 20%;
	vertical-align: top;
}

h1 {
	font-size:45px;
	font-weight: bold;
	margin-bottom: 20px;
}

h2 {
	font-size:35px;
	margin-bottom:15px;
}

p{
		font-size: 22px;
		font-weight: lighter;
		line-height: 1.4;
		margin: 0;
}

a {
	text-decoration: none;
	font-weight: bold;
	color: rgb(39, 51, 173);
}